@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;

  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

* {
  box-sizing: border-box;
}

html,
body {
  background: var(--background) !important;
  color: var(--foreground) !important;
  font-family: Arial, Helvetica, sans-serif;

  margin: 0;
  padding: 0;

  width: 100%;
  min-width: 480px;
  min-height: 100%;

  overflow-x: auto;
}

@layer base {
  body {
    @apply bg-white text-black;
  }
}