.search-suggestions-c {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 5px;
  padding: 5px;
}

.suggestion-card-c {
  width: 100%;
  background: #cb874e;
  border: 1px solid #e5e7eb;
  border-radius: 0px;
  padding: 5px;
  color: #111827;
  box-shadow: 0 8px 24px rgba(15, 23, 42, 0.08);
}

.suggestion-items-c {
  display: grid;
  gap: 5px;
}

/* 4 items: 2 up / 2 down */
.layout-four .suggestion-items-c {
  grid-template-columns: repeat(2, 1fr);
}

/* 3 items: left item big, right side 1 up / 1 down */
.layout-three .suggestion-items-c {
  grid-template-columns: 1fr 1fr;
  grid-template-rows: repeat(2, 1fr);
}

.layout-three .suggestion-item-c:first-child {
  grid-row: span 2;
}

.suggestion-item-c {
  min-width: 0;
  background: white;
  border-radius: 0px;
  padding: 8px;
  text-align: center;
  overflow: hidden;
}

.suggestion-image-c {
  width: 100%;
  height: 150px;
  object-fit: contain;
  display: block;
  margin-bottom: 0px;
}

.layout-three .suggestion-item-c:first-child .suggestion-image-c {
  height: 310px;
}

.suggestion-name-c {
  font-size: 11px;
  font-weight: 700;
  color: #111827;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.suggestion-brand-button-c {
  margin-top: 12px;
  padding: 0;
  border: none;
  background: transparent;
  color: #2563eb;
  font-size: 13px;
  font-weight: 700;
  text-decoration: underline;
  cursor: pointer;
}

@media (min-width: 768px) {
  .search-suggestions-c {
    display: none;
  }
}

.suggestion-title-ch1{
  font-size: 19px;
  font-weight: 800;
  padding: 10px;
  color: #07090f;
}